/build
!/ar_data/models/flutter.obj
!/ar_data/models/firebase1.obj
!/ar_data/models/flutter1.obj
!/ar_data/models/gdg_final.obj
!/ar_data/models/dialogflow.obj
!/ar_data/models/gdgAhm.obj
!/ar_data/models/flutter_final.obj
!/ar_data/models/google-cloud.obj
!/ar_data/models/google-cloud_final.obj
!/ar_data/models/devfest_final.obj
!/ar_data/models/full_gdg.obj
!/ar_data/models/full_gdg11.obj
!/ar_data/models/full_gdg1.obj
!/ar_data/models/full_gdg_final.obj
!/ar_data/models/gdg_full_final.obj
!/ar_data/models/andy.obj
